.mo-table-layout-2 {
  background-color: #e0e0d8;
  width: 98%;
  padding: 1%;
  overflow: hidden;
}

.mo-table-layout-3 {
  border-radius: 1px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  /*margin: 0 1% 1% 0;*/
  /*margin: 2%;*/
}

.mo-container1 {
  width: -webkit-fill-available;
  padding: 25px;
  float: left;
  border-radius: 4px !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
